.content-div .addFabIcon{
    background: #407701;
    margin-right:5vw;
}

.content-div .addFabIcon:hover{
    background: #b2ff59;
}

.content-div .tabletitleDiv{
    /* background: #e6dece; */
    padding: 10px 15px;
    border-radius: 10px 10px 0 0;
}

@media screen and (max-width:1024px) and (min-width:620px) {
    .content-div .addFabIcon{
        margin-right:3vw;
    }
}

@media screen and (min-width:1025px) {
    .content-div .addFabIcon{
        margin-right:1.5vw;
    }
}