.workoutTracker-main-div{
    background: url(../WorkoutTracker/Images/workoutTrackerBg.jpg);
    background-size: 40rem;
    padding-bottom: 23vh;
}

.workoutTracker-main-div h1{
    text-align: center;
    font-size: 10vw;
}
