.main-appbar-div{
    background: black !important;
}

.iframe{
    width: 100vw;
    height: 50vh;
}

@media screen and (min-width:540px) {
    .brand-heading{
        text-align: left;
    }

    .iframe{
        width: 50vw;
        height: 50vh;
    }
}

