@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus&display=swap');

*{
  margin: 0;
}

.App{
  position: relative;
}

#loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #7363ab;
}

.loader-heading{
  position:"absolute";
  top: 22.5vh;
  font-family: 'Arbutus', cursive;
  font-size: x-large;
  color: black;
}

.circular-progress{
  width: 30rem !important;
  height: 30rem !important;
  position: absolute !important;
}
/* for screen greater than mobile width */
@media screen and (min-width : 450px) {
  .loader-heading{
    top: 7vh;
    font-size: xx-large;
  }
}